#login {
    /* border: 1px solid black; */
    width: 150px;
}
    #login-1 {
        height: 50px;
        /* width:  */
    }
        #login-1-1 {
            height: 100%;
            width: 100px;
            float:left;
        }
        /* #login-1-1:nth-of-type(1) {
            width: 1;
        } */
            #id {
                height: 50%;
                width: 100%;
                float:left;
            }
            #pw {
                height: 50%;
                width: 100%;
                float:left;
            }
            #login-2 {
                height: 100%;
                width: 40%;
                float: left;
            }
            #login-3 {
                text-align: center;
            }
