ul {
    list-style-type: none;
    padding-left: 0;
}
li{
    margin: 10px;
}
input[type=text], input[type=email], input[type=tel] {
    width: 300px;
}

input[type=number] {
    width: 30px;
    height: 10px;
}

#shipping label {
    width: 80px;
    float: left;
    text-align: left;
}

form>div {
    /* 위치 */
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 20px;
}
form>div>input {
    /* 크기 */
    width: 150px;
    height: 40px;
    text-align: center;
    /* 디자인 */
    border: 1px solid #ccc;
    background-color: #fafafa;
    box-shadow: 1px 1px 1px #ccc;
}

p {
    font-weight: bolder;
}
fieldset legend {
    font-weight: bold;
}